<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-прибор-учета-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.единица
      class=(if (v-get validationObject "единица" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-прибор-учета-e.единица-caption")
      data-test-i-i-s-umnyjj-dom-прибор-учета-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "единица" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.датаУстановки
      class=(if (v-get validationObject "датаУстановки" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-прибор-учета-e.датаУстановки-caption")
      data-test-i-i-s-umnyjj-dom-прибор-учета-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "датаУстановки" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.датаСнятия
      class=(if (v-get validationObject "датаСнятия" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-прибор-учета-e.датаСнятия-caption")
      data-test-i-i-s-umnyjj-dom-прибор-учета-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "датаСнятия" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-прибор-учета-e.актуальность-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.актуальность
      data-test-i-i-s-umnyjj-dom-прибор-учета-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "актуальность" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-прибор-учета-e.автоматическаяПередача-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.автоматическаяПередача
      data-test-i-i-s-umnyjj-dom-прибор-учета-e-----------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "автоматическаяПередача" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-прибор-учета-e.модельПУ-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.модельПУ
      relationName="модельПУ"
      projection="МодельПУL"
      title=(t "forms.i-i-s-umnyjj-dom-прибор-учета-e.модельПУ-caption")
      readonly=readonly
      componentName="модельПУLookup"
      data-test-i-i-s-umnyjj-dom-прибор-учета-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "модельПУ" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.модельПУ.наименование
      class=(if (v-get validationObject "модельПУ.наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-прибор-учета-e.модельПУ.наименование-caption")
      data-test-i-i-s-umnyjj-dom-прибор-учета-e----------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "модельПУ.наименование" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-прибор-учета-e.помещение-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.помещение
      relationName="помещение"
      projection="ПомещениеL"
      title=(t "forms.i-i-s-umnyjj-dom-прибор-учета-e.помещение-caption")
      readonly=readonly
      componentName="помещениеLookup"
      data-test-i-i-s-umnyjj-dom-прибор-учета-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "помещение" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.помещение.типПомещения
      class=(if (v-get validationObject "помещение.типПомещения" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-прибор-учета-e.помещение.типПомещения-caption")
      data-test-i-i-s-umnyjj-dom-прибор-учета-e-----------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "помещение.типПомещения" "messages")}}
  </div>
</form>