<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-тариф-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наименование
      class=(if (v-get validationObject "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-тариф-e.наименование-caption")
      data-test-i-i-s-umnyjj-dom-тариф-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "наименование" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.описание
      class=(if (v-get validationObject "описание" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-тариф-e.описание-caption")
      data-test-i-i-s-umnyjj-dom-тариф-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "описание" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-тариф-e.датаНачала-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.датаНачала
      class=(if (v-get validationObject "датаНачала" "isInvalid") "error")
      data-test-i-i-s-umnyjj-dom-тариф-e-----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "датаНачала" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-тариф-e.датаОкончания-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.датаОкончания
      class=(if (v-get validationObject "датаОкончания" "isInvalid") "error")
      data-test-i-i-s-umnyjj-dom-тариф-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "датаОкончания" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.единица
      class=(if (v-get validationObject "единица" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-тариф-e.единица-caption")
      data-test-i-i-s-umnyjj-dom-тариф-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "единица" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.формула
      class=(if (v-get validationObject "формула" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-тариф-e.формула-caption")
      data-test-i-i-s-umnyjj-dom-тариф-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "формула" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.стоимость
      class=(if (v-get validationObject "стоимость" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-тариф-e.стоимость-caption")
      data-test-i-i-s-umnyjj-dom-тариф-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "стоимость" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-тариф-e.видУслуги-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.видУслуги
      relationName="видУслуги"
      projection="ВидУслугиL"
      title=(t "forms.i-i-s-umnyjj-dom-тариф-e.видУслуги-caption")
      readonly=readonly
      componentName="видУслугиLookup"
      data-test-i-i-s-umnyjj-dom-тариф-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "видУслуги" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.видУслуги.наименование
      class=(if (v-get validationObject "видУслуги.наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-тариф-e.видУслуги.наименование-caption")
      data-test-i-i-s-umnyjj-dom-тариф-e-----------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "видУслуги.наименование" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-тариф-e.поставщик-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.поставщик
      relationName="поставщик"
      projection="ПоставщикL"
      title=(t "forms.i-i-s-umnyjj-dom-тариф-e.поставщик-caption")
      readonly=readonly
      componentName="поставщикLookup"
      data-test-i-i-s-umnyjj-dom-тариф-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "поставщик" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.поставщик.иНН
      class=(if (v-get validationObject "поставщик.иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-тариф-e.поставщик.иНН-caption")
      data-test-i-i-s-umnyjj-dom-тариф-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "поставщик.иНН" "messages")}}
  </div>
</form>