<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-помещение-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.площадь
      class=(if (v-get validationObject "площадь" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-помещение-e.площадь-caption")
      data-test-i-i-s-umnyjj-dom-помещение-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "площадь" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.типПомещения
      class=(if (v-get validationObject "типПомещения" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-помещение-e.типПомещения-caption")
      data-test-i-i-s-umnyjj-dom-помещение-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "типПомещения" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.колвоПроживающих
      class=(if (v-get validationObject "колвоПроживающих" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-помещение-e.колвоПроживающих-caption")
      data-test-i-i-s-umnyjj-dom-помещение-e-----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "колвоПроживающих" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-помещение-e.дом-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.дом
      relationName="дом"
      projection="ДомL"
      title=(t "forms.i-i-s-umnyjj-dom-помещение-e.дом-caption")
      readonly=readonly
      componentName="домLookup"
      data-test-i-i-s-umnyjj-dom-помещение-e----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "дом" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.дом.address
      class=(if (v-get validationObject "дом.address" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-помещение-e.дом.address-caption")
      data-test-i-i-s-umnyjj-dom-помещение-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "дом.address" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-помещение-e.собственник-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.собственник
      relationName="собственник"
      projection="СобственникL"
      title=(t "forms.i-i-s-umnyjj-dom-помещение-e.собственник-caption")
      readonly=readonly
      componentName="собственникLookup"
      data-test-i-i-s-umnyjj-dom-помещение-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "собственник" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.собственник.фИО
      class=(if (v-get validationObject "собственник.фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-помещение-e.собственник.фИО-caption")
      data-test-i-i-s-umnyjj-dom-помещение-e----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "собственник.фИО" "messages")}}
  </div>
</form>