<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-поставщик-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.иНН
      class=(if (v-get validationObject "иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-поставщик-e.иНН-caption")
      data-test-i-i-s-umnyjj-dom-поставщик-e----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "иНН" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наименование
      class=(if (v-get validationObject "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-поставщик-e.наименование-caption")
      data-test-i-i-s-umnyjj-dom-поставщик-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "наименование" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.расчетныйСчет
      class=(if (v-get validationObject "расчетныйСчет" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-поставщик-e.расчетныйСчет-caption")
      data-test-i-i-s-umnyjj-dom-поставщик-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "расчетныйСчет" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.описание
      class=(if (v-get validationObject "описание" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-поставщик-e.описание-caption")
      data-test-i-i-s-umnyjj-dom-поставщик-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "описание" "messages")}}
  </div>
</form>