<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-дом-поставщик-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-дом-поставщик-e.дом-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.дом
      relationName="дом"
      projection="ДомL"
      title=(t "forms.i-i-s-umnyjj-dom-дом-поставщик-e.дом-caption")
      readonly=readonly
      componentName="домLookup"
      data-test-i-i-s-umnyjj-dom-дом-поставщик-e----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "дом" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.дом.address
      class=(if (v-get validationObject "дом.address" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-дом-поставщик-e.дом.address-caption")
      data-test-i-i-s-umnyjj-dom-дом-поставщик-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "дом.address" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-дом-поставщик-e.поставщик-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.поставщик
      relationName="поставщик"
      projection="ПоставщикL"
      title=(t "forms.i-i-s-umnyjj-dom-дом-поставщик-e.поставщик-caption")
      readonly=readonly
      componentName="поставщикLookup"
      data-test-i-i-s-umnyjj-dom-дом-поставщик-e----------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "поставщик" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.поставщик.иНН
      class=(if (v-get validationObject "поставщик.иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-дом-поставщик-e.поставщик.иНН-caption")
      data-test-i-i-s-umnyjj-dom-дом-поставщик-e--------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "поставщик.иНН" "messages")}}
  </div>
</form>