<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-показание-п-у-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.значение
      class=(if (v-get validationObject "значение" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-показание-п-у-e.значение-caption")
      data-test-i-i-s-umnyjj-dom-показание-п-у-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "значение" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-показание-п-у-e.дата-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.дата
      class=(if (v-get validationObject "дата" "isInvalid") "error")
      data-test-i-i-s-umnyjj-dom-показание-п-у-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "дата" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-показание-п-у-e.полученоАвтоматически-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.полученоАвтоматически
      data-test-i-i-s-umnyjj-dom-показание-п-у-e----------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "полученоАвтоматически" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-показание-п-у-e.приборУчета-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.приборУчета
      relationName="приборУчета"
      projection="ПриборУчетаL"
      title=(t "forms.i-i-s-umnyjj-dom-показание-п-у-e.приборУчета-caption")
      readonly=readonly
      componentName="приборУчетаLookup"
      data-test-i-i-s-umnyjj-dom-показание-п-у-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "приборУчета" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.приборУчета.единица
      class=(if (v-get validationObject "приборУчета.единица" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-показание-п-у-e.приборУчета.единица-caption")
      data-test-i-i-s-umnyjj-dom-показание-п-у-e--------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "приборУчета.единица" "messages")}}
  </div>
</form>