<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-дом-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.address
      class=(if (v-get validationObject "address" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-дом-e.address-caption")
      data-test-i-i-s-umnyjj-dom-дом-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "address" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.summS
      class=(if (v-get validationObject "summS" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-дом-e.summS-caption")
      data-test-i-i-s-umnyjj-dom-дом-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "summS" "messages")}}
  </div>
</form>