<h3 class="ui header">{{t "forms.i-i-s-umnyjj-dom-сотрудник-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationObject "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-сотрудник-e.фИО-caption")
      data-test-i-i-s-umnyjj-dom-сотрудник-e----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "фИО" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-umnyjj-dom-сотрудник-e.управляющаяКомпания-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.управляющаяКомпания
      relationName="управляющаяКомпания"
      projection="УправляющаяКомпанияL"
      title=(t "forms.i-i-s-umnyjj-dom-сотрудник-e.управляющаяКомпания-caption")
      readonly=readonly
      componentName="управляющаяКомпанияLookup"
      data-test-i-i-s-umnyjj-dom-сотрудник-e--------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "управляющаяКомпания" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.управляющаяКомпания.наименование
      class=(if (v-get validationObject "управляющаяКомпания.наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-umnyjj-dom-сотрудник-e.управляющаяКомпания.наименование-caption")
      data-test-i-i-s-umnyjj-dom-сотрудник-e---------------------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "управляющаяКомпания.наименование" "messages")}}
  </div>
</form>